<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Puedes dejar vacío el head si solo es fragmento -->
</head>
<body>
<header th:fragment="mainHeader">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <!-- Logo como imagen -->
            <a class="navbar-brand d-flex align-items-center" th:href="@{inicio}">
                <img th:src="@{/media/images/iconos/iconoOnePieceCHAD.png}" alt="Logo" class="logo me-2">
                <span class="fw-bold textHeaderShadow tituloHeader">WEbStorm</span>
            </a>

            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav mb-2 mb-lg-0 text-center">
                    <li class="nav-item mx-2">
                        <a class="nav-link active textHeader textHeaderShadow" th:href="@{/tienda}">
                            <i class="fas fa-book"></i> Mangas
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link textHeader textHeaderShadow" href="../revista/index.html">
                            <i class="fas fa-newspaper"></i> Revistas
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link textHeader textHeaderShadow" href="#">
                            <i class="fas fa-comic"></i> Historietas
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link textHeader textHeaderShadow" href="#">
                            <i class="fas fa-concierge-bell"></i> Servicios
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link textHeader textHeaderShadow" href="../contactanos/index.html">
                            <i class="fas fa-envelope"></i> Contactarnos
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link textHeader textHeaderShadow" th:href="@{/ingresar}">
                            <i class="fas fa-user"></i> Iniciar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div  th:fragment="siderAdmin">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html">Web Store Manga</a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a href="index.html" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Gestionar Usuarios</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/personas}">Personas</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/usuarios}">Usuarios</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/roles}">Roles</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/perfiles}">Perfiles</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Gestionar Libros</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/libros}">Libros</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/administrador/tiposLibro}">Tipos de Libros</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-toastify.html">Toastify</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-rating.html">Rating</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-divider.html">Divider</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Layouts</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="layout-default.html">Default Layout</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="layout-vertical-1-column.html">1 Column</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="layout-vertical-navbar.html">Vertical with Navbar</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="layout-horizontal.html">Horizontal Menu</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">Forms &amp; Tables</li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-hexagon-fill"></i>
                            <span>Form Elements</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="form-element-input.html">Input</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-input-group.html">Input Group</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-select.html">Select</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-radio.html">Radio</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-checkbox.html">Checkbox</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-textarea.html">Textarea</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

</div>

</body>
</html>
