<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WEbStorm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/letras.css}">

    <link rel="shortcut icon" th:href="@{/media/images/iconos/iconoOnePieceCHAD.png}" />
</head>

<body class="img js-fullheight fade-in"
      th:style="'background-image: url(' + @{/media/images/iconos/dororo.png} + ')'">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section logo">Registrarme</h2>
                <a th:href="@{/inicio}" class="px-2 py-2 ml-md-1 rounded" style="color: #ffff">
                    <i class="fa-solid fa-house"></i> Regresar
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="login-wrap p-4">
                    <form th:action="@{/guardarPersona}" method="post" th:object="${persona}" class="signin-form">

                        <!-- Datos de Persona -->
                        <h5 class="text-center mb-3 logo">Datos Personales</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="dni" class="form-control" th:field="*{dni}" placeholder="DNI..." required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="date" name="edad" class="form-control" th:field="*{edad}" placeholder="Edad..." required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="nombrePersona" class="form-control" th:field="*{nombre}" placeholder="Nombre..." required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="apellidos" th:field="*{apellidos}" class="form-control" placeholder="Apellidos..." required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="direccion" th:field="*{direccion}" class="form-control" placeholder="Dirección...">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="telefono" th:field="*{telefono}" class="form-control" placeholder="Teléfono...">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <input type="text" name="pais" th:field="*{pais}" class="form-control" placeholder="País...">
                            </div>
                        </div>

                        <!-- Datos de Usuario -->
                        <h5 class="text-center mt-4 mb-3 logo">Datos de Usuario</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="usuario" th:field="*{pais}" class="form-control" placeholder="Nombre de usuario..." required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" name="correo" class="form-control" placeholder="Correo electrónico..." required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3 position-relative">
                                <input id="password-field" type="password" name="password" class="form-control" placeholder="Clave..." required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="col-md-12 mb-3 position-relative">
                                <input id="password-field2" type="password" name="password" class="form-control" placeholder="Verificar clave..." required>
                            </div>
                        </div>

                        <!-- Botón -->
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Registrarme</button>
                            </div>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <p>¿Ya tienes cuenta?
                            <a th:href="@{/ingresar}" class="px-2 py-2 ml-md-1 rounded" style="color: #ffff">
                                <i class="fa-solid fa-right-to-bracket"></i> Ingresar
                            </a>
                        </p>
                    </div>

                    <div class="social d-flex text-center mt-3">
                        <a href="https://github.com/AbelBusi" class="px-2 py-2 mr-md-1 rounded" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
                        <a href="https://www.linkedin.com/in/cesar-abel-bustamante-inoach" class="px-2 py-2 ml-md-1 rounded" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("a");
    links.forEach(link => {
      const target = link.getAttribute("target");
      if (target === "_blank" || link.href.startsWith("http")) return;
      link.addEventListener("click", e => {
        e.preventDefault();
        document.body.classList.remove("fade-in");
        document.body.classList.add("fade-out");
        setTimeout(() => {
          window.location = link.href;
        }, 600);
      });
    });
  });
</script>

</body>
</html>
