.carrito{

    background-color: #efb810;
    color: #fff;
}

.carrito:hover{
    background-color: #000;
    color: #fff;
}

.textoPrecio{
    color: #000;
}
.cantidadCaja{
    background-color: #efb810;
    color: #fff;
}


