.containerCard {
    background: #ffffff;
    text-shadow: 0 5px 10px #0004;

}

.espacioContainer {
    padding-top: 4%;
}

.imageCard {
    height: 245px;
    object-fit: cover;
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.sombraDivCard {
    margin: 25px;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    box-shadow: 4px 4px 12px #000;

}