@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.textHeaderShadow {
    text-shadow: 2px 2px 40px #000;
}

.textHeader {

    font-weight: bold;
    color: #fff;

}

.logo {
    font-weight: bold;
    color: #efb810;
}

.textTitle {

    font-size: 55px;
    font-weight: bold;
    font-family: Poppins;
    opacity: 0;
    /* empieza invisible */
    transform: translateY(50px);
    /* desde abajo */
    transition: all 0.8s ease-out;


}

.tituloHeader {

    justify-content: flex-end;

}

/* Cuando se agregue la clase .animate se activa la animación */
.textTitle.animate {
    opacity: 1;
    transform: translateY(0);
}


/*Seeparadores */

.card-link{
    
    border-radius: 20%;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    color: #fff;
    

}

.card-linkA {
    border-radius: 6%;
    padding: 6px 12px;
    background-color: #efb810;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: center;
}

.card-linkA:hover{
    background-color: #000;
    color: #fff;
}



.textoLinkCard{
    color: #fff;
    text-decoration: none;
}