<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles - Dashboard</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/bodyTransparent.css}">
    <link rel="shortcut icon" th:href="@{/media/images/iconos/iconoOnePieceCHAD.png}" />

    <!-- Agregar en el <head> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">


</head>
<style>
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* ocupa mínimo toda la pantalla, pero crece con el contenido */
    background-size: cover;   /* se adapta al tamaño de la pantalla */
    background-position: center; /* centrada */
    background-repeat: no-repeat;
    color: #fff;
}


</style>

<body th:style="'background-image: url(' + @{/media/images/iconos/fondoBpdy.jpg} + ')'">
<div id="app">
    <div th:replace="~{components/header :: siderAdmin}"></div>

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>ROLES</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Roles</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Modal para agregar un rol -->
            <div class="modal fade" id="agregarUsuarioModal" tabindex="-1" aria-labelledby="agregarUsuarioLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-anime">
                        <div class="modal-header border-0">
                            <h5 class="modal-title fw-bold" id="agregarUsuarioLabel">Agregar Rol</h5>
                            <button type="button" class="btn-close btn-close-yellow" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/administrador/roles/guardarRoles}" th:object="${guardarRol}" method="post">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control input-anime" th:field="*{nombre}" id="nombre" required>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control input-anime" th:field="*{descripcion}" id="descripcion" required>
                                </div>

                                <!-- Estado oculto siempre en 1 -->
                                <input type="hidden" th:field="*{estado}" th:value="1">

                                <button type="submit" class="btn btn-anime w-100 fw-bold">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal para editar un rol -->
            <div class="modal fade" id="editarRolModal" tabindex="-1" aria-labelledby="editarRolLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-anime">
                        <div class="modal-header border-0">
                            <h5 class="modal-title fw-bold" id="editarRolLabel">Editar Rol</h5>
                            <button type="button" class="btn-close btn-close-yellow" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/administrador/roles/editarRoles}" th:object="${editarRol}" method="post">
                                <input type="hidden" th:field="*{idRol}">

                                <div class="mb-3">
                                    <label for="editarNombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control input-anime" th:field="*{nombre}" id="editarNombre" required>
                                </div>

                                <div class="mb-3">
                                    <label for="editarDescripcion" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control input-anime" th:field="*{descripcion}" id="editarDescripcion" required>
                                </div>

                                <input type="hidden" th:field="*{estado}" th:value="1">

                                <button type="submit" class="btn btn-anime w-100 fw-bold">Guardar Cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla de usuarios -->
            <section class="section mt-3">
                <div class="row" id="table-head">
                    <div class="col-12">
                        <div class="card bg-transparent border-0">
                            <div class="card-header bg-transparent border-0">
                                <h4 class="card-title text-white text-center">Lista de roles</h4>
                            </div>

                            <!-- Botón de agregar usuario arriba de la tabla -->
                            <div class="d-flex justify-content-end mb-3">
                                <button type="button" class="botone" data-bs-toggle="modal" data-bs-target="#agregarUsuarioModal">
                                    <i class="fas fa-plus"></i> Agregar Rol
                                </button>
                            </div>


                            <!-- Tabla de usuarios mejorada -->
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table id="usuariosTable" class="table table-transparent table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID ROL</th>
                                            <th>NOMBRE</th>
                                            <th>DESCRIPCION</th>
                                            <th>ESTADO</th>
                                            <th>ACCIONES</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="rol : ${roles}" th:data-id="${rol.idRol}">
                                            <td th:text="${rol.idRol}">ID</td>
                                            <td th:text="${rol.nombre}">Nombre aquí</td>
                                            <td th:text="${rol.descripcion}">Descripción aquí</td>
                                            <td>
                                                <span th:text="${rol.estado == 1 ? 'Activo' : 'Inactivo'}"></span>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-warning btn-action">
                                                    <i class="fas fa-edit"></i> Editar
                                                </button>
                                                <button class="btn btn-sm btn-info btn-action">
                                                    <i class="fas fa-eye"></i> Cambiar Estado
                                                </button>
                                                <button class="btn btn-sm btn-danger btn-action">
                                                    <i class="fas fa-trash"></i> Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


<!-- Scripts DataTables -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<!-- Extensiones para exportar -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>


<script>
    $(document).ready(function () {
        $('#usuariosTable').DataTable({
            dom: '<"d-flex justify-content-between align-items-center mb-3"Bf>rtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    className: 'btn buttons-excel'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    className: 'btn buttons-pdf'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Imprimir',
                    className: 'btn buttons-print'
                }
            ],
order: [ [2, "desc"] ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    previous: "⬅",
                    next: "➡"
                }
            }
        });
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const editarBtns = document.querySelectorAll('#usuariosTable .btn-warning');

    editarBtns.forEach(btn => {
        btn.addEventListener('click', function() {
            const row = this.closest('tr');

            const id = row.dataset.id;
            const nombre = row.children[1].textContent.trim();
            const descripcion = row.children[2].textContent.trim();

            // Llenamos los inputs del modal con Thymeleaf
            document.querySelector('#editarRolModal input[name="idRol"]').value = id;
            document.querySelector('#editarRolModal input[name="nombre"]').value = nombre;
            document.querySelector('#editarRolModal input[name="descripcion"]').value = descripcion;
            document.querySelector('#editarRolModal input[name="estado"]').value = 1;

            const editarModal = new bootstrap.Modal(document.getElementById('editarRolModal'));
            editarModal.show();
        });
    });
});


</script>


</body>

</html>

